<header class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <%= link_to "Bể Cáp", bes_path	, class: "navbar-brand" %>
      <%= link_to "Đường ống", duongongs_path, class: "navbar-brand" %>
      <%= link_to "Tuyến Cáp", tuyencaps_path, class: "navbar-brand" %>
    </div>
    <%# <form style="display: contents;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</header>
