@import "bootstrap";

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #df1111;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
#logo:hover {
  color: #dd0d0d;
  text-decoration: none;
}

#map {
  width: 100%;
  height: 700px;
  position: relative;
}
.controls {
  position: absolute;
  bottom: 50px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.controls button {
  display: block;
  margin-bottom: 5px;
  width: 100%;
}

.show-list-tuyencap{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 13%;
  height: 45%;
  bottom: 50px;
  right: 4px;
  overflow-y: auto;
}

#tuyen-cap-list {
  display: none;
  /* Ẩn danh sách theo mặc định */
  margin-top: 10px;
  /* Khoảng cách phía trên */
}

.show-list-tuyencap button {
  display: block;
  /* Đảm bảo mỗi button chiếm một dòng */
  width: 100%;
  /* Chiếm toàn bộ chiều rộng */
  padding: 10px;
  /* Khoảng cách bên trong button */
  margin: 5px 0;
  /* Khoảng cách giữa các button */
  background-color: #007bff;
  /* Màu nền của button */
  color: white;
  /* Màu chữ */
  border: none;
  /* Không có viền */
  border-radius: 5px;
  /* Bo tròn góc */
  text-align: left;
  /* Căn trái văn bản */
  min-height: 50px;
  /* Chiều cao tối thiểu */
  font-size: 16px;
  /* Kích thước chữ */
  cursor: pointer;
  /* Con trỏ khi di chuột */
  transition: background-color 0.3s;
  /* Hiệu ứng chuyển màu */
}

.show-list-tuyencap button:hover {
  background-color: #0056b3;
  /* Màu nền khi di chuột */
}

h3{
  text-align: center;
}
.comineterb {
  position: absolute;
  top: 62px;
  right: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 13%;
  height: 32%;
  /* Adjust width as needed */
  overflow-y: auto; /* Thêm thanh cuộn dọc */
  // overflow: hidden; /* Ẩn thanh cuộn */
    /* overflow-x: auto; nếu cần thanh cuộn ngang */
}

.comineterb button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  /* Align text to the left */
  box-sizing: border-box;
  /* Include padding in width calculation */
}

.comineterb button:hover {
  opacity: 0.8;
  /* Change background color on hover */
}
.contai {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  /* Adjust as needed */
  width: 100%;
}

.map-container {
  flex: 84%;
  /* Adjust the flex value to control the width */
}

.controls-container {
  flex: 10%;
  /* Adjust the flex value to control the width */
  display: flex;
  flex-direction: column;
}

.map-marker {
  background: white;
  border-radius: 0%; /* Default circular style */
  width: 18px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #000;
  border: 2px solid #000;
  cursor: pointer;
}

.rectangular-marker {
  border-radius: 0%; /* Change to rectangle */
  width: 22px;
  height: 12px;
}

.map-marker .fa-sewer {
  color: #000;
}
.fa-minus {
  font-size: 26px;
}

.delete-btn {
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: darkred;
}

.formbg {
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  padding: 6px;
}

.field {
  margin-bottom: 24px;
}

.field input,
.field select {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #e3e8ee;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}

.field input[type="submit"] {
  background-color: rgb(84, 105, 212);
  color: white;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.field input[type="submit"]:hover {
  background-color: rgb(70, 90, 190);
}

/* General popup styling */
.popup .form {
  --background: white;
  --border: rgba(0, 0, 0, 0.125);
  --fgColorH: 210;
  --fgColorS: 50%;
  --fgColorL: 38%;
  --borderRadius: 0.125rem;
  --highlight: #306090;
  padding: 1rem;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: var(--borderRadius);
  box-shadow: 0 1rem 1rem -0.75rem var(--border);
  display: flex;
  flex-direction: column;
}

.submit-container {
  display: flex;
  justify-content: center;
}

.sub-container {
  color: white;
  background: #4e4a4a;
  font-weight: bold;
  padding: 0.75rem 2rem;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sub-container:hover {
  background-color: hsl(var(--fgColorH), var(--fgColorS), calc(var(--fgColorL) * 0.85));
  color: black;
}

.sub-container:active {
  background-color: hsl(var(--fgColorH), var(--fgColorS), calc(var(--fgColorL) * 0.7));
  color: black;
}

.coordinates {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.label-loaibe, .label-coquan {
  display: flex;
  flex-direction: column;
}

.label-coquan select, .label-loaibe select{
  margin-top: 0.25rem;
  padding: 10px;
}

.label-address input{
  padding: 4px 24px 7px 7px;
}
